.container
  section#article
    - if (article.hidden)
      .alert-message.warning(style="margin-top: -52px")
        p This article is <strong>not published!</strong>
    .page-header
      - if (auth)
        .github.pull-right
          a#editMode.btn(href="#") Edit
          | 
          a#askRemove.btn.danger(href="#") Remove
      h1 #{article.name} 
        small.time
          abbr.timeago(title=article.date.toISOString()) #{article.date.toISOString()}
          small.read , #{article.words} words
    .row#articlerow
      a(name="article-content", id="article-content")    
      #preview.span12!= article.html
        - if (!article.hidden)
          br
          br
          #disqus_thread
          script(type="text/javascript")
            var disqus_shortname = '#{meta.name}';

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
      .span4
        table#article-sidebar
          tr
            td.key Datum:
            td.info=article.date.toISOString().split('T')[0]   
          tr
            td.key Tags:
            td.info
              ul.tags
                - for(var i = 0; i < article.tags.length; i ++)
                  li
                    a(href="/tag/" + article.tags[i], title='All articles by tag "' + article.tags[i] + '"') #{article.tags[i]}
          - if(article.sources)
            tr
              td.key Links:
              td.info
                ul.tags
                  - for(var name in article.sources)
                    li
                      a(href=article.sources[name],title=name) #{name}
    .row#articlecontent(style="display: none;")=article.content
    #removePrompt.modal.hide.fade
      .modal-header
        a.close(href="#") &times;
        h3 Really remove "#{article.name}"?
      .modal-body
        p This operation can not be undone.
        p The article will be lost forever.
      .modal-footer
        a#doRemove.btn.danger(href="#") Remove
        a#cancelRemove.btn(href="#") Cancel