#article-list.container.home
  section
    img(src="/Gamefortec.png", width="920")
  section
    p Welcome to our new website!
  section#article
    .page-header
      h1 Recent Articles 
        small #{list.length} available, showing recent 5  
  - for (var i = 0; i < list.slice(0, 5).length; i++) 
    .row
      .span2.datefield
        code=list[i].date.toISOString().split('T')[0]
      .span14.cLeft
        h3
          a(href=list[i].url) #{list[i].name} 
          small
            abbr.timeago(title=list[i].date.toISOString()) list[i].date.toISOString()
    .row
      .offset2.span14.cLeft
        #content!=list[i].excerpt          